:root {
  --left-bg-color: rgba(73, 80, 87, 0.7);
  --right-bg-color: rgba(52, 58, 64, 0.7);
  --left-btn-hover-color: rgba(52, 58, 64);
  --right-btn-hover-color: rgba(33, 37, 41);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-out: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-in: cubic-bezier(0.33, 0.85, 0.56, 1.02);
  --color1: #F8F9FA;
  --color2: #E9ECEF;
  --color3: #DEE2E6;
  --color4: #CED4DA;
  --color5: #ADB5BD;
  --color6: #6C757D;
  --color7: #495057;
  --color8: #343A40;
  --color9: #212529;
}

* {
  box-sizing: border-box;
  font-family: 'comfortaa', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;

}

.craftart {
  font-size: 4rem;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  color: #fff;
}

.show-btn {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  border: #fff solid 0.2rem;
  font-size: 2rem;
  font-weight: bold;
  width: 15rem;
  padding: 1.5rem;
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.split.left .show-btn:hover {
  background-color: var(--left-btn-hover-color);
  border-color: var(--left-btn-hover-color);
}

.split.right .show-btn:hover {
  background-color: var(--right-btn-hover-color);
  border-color: var(--right-btn-hover-color);
}

.split-landing {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #333;
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.left {
  left: 0;
  background-image: url('./images/craftart.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.split.left::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--left-bg-color);
}

.split.right {
  right: 0;
  background-image: url('./images/artist.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.split.right::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--right-bg-color);
}

.split.left,
.split.right,
.split.left::before,
.split.right::before {
  transition: all var(--speed) ease-in-out;
}

.hover-left .left {
  width: var(--hover-width);
}

.hover-left .right {
  width: var(--other-width);
}

.hover-right .right {
  width: var(--hover-width);
}

.hover-right .left {
  width: var(--other-width);
}

@media (max-width: 800px) {
  h1 {
    font-size: 2rem;
    top: 30%;
  }

  .show-btn {
    padding: 1.2rem;
    width: 12rem;
  }
}

.scroll-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 90%;
}

.indicator {
  position: relative;
  width: 35px;
  height: 35px;
  transform: rotate(45deg);
}

.indicator span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  border: none;
  border-right: 3px solid #333;
  border-bottom: 3px solid #333;
  animation: animate 1s linear infinite;
}

.indicator span:nth-child(1) {
  top: -30px;
  left: -30px;
  animation-delay: 0s;
}

.indicator span:nth-child(2) {
  top: -15px;
  left: -15px;
  animation-delay: .3s;
}

.indicator span:nth-child(3) {
  top: 0px;
  left: 0px;
  animation-delay: .6s;
}

.indicator span:nth-child(4) {
  top: 15px;
  left: 15px;
  animation-delay: .9s;
}

@keyframes animate {

  0%,
  100% {
    border-color: rgba(255, 255, 255, 1);
    /* Fully opaque white */
  }

  50% {
    border-color: rgba(255, 255, 255, 0);
    /* Fully transparent */
  }
}

/* Base Desktop styles */

/* Media query for desktop screens with a min-width of 901px */
@media (min-width: 901px) {

  .nav-open-btn,
  .nav-close-btn,
  .overlay,
  .nav-container a.logo {
    display: none;
    visibility: hidden;
  }

  .navbar-item label {
    display: none;
  }

  .nav-container {
    position: fixed;
    z-index: 99;
    width: 100%;
    background: var(--color2);
    padding: 10px;
    transition: all .3s ease-in-out;
  }

  .navbar {
    background: var(--color2) !important;
    position: relative;
    max-width: 1400px;
    padding: 0px 30px;
    height: 70px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .3s ease-in-out;

  }

  .navbar .nav-logo {
    color: var(--color9) !important;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    transition: all .3s ease-in-out;
  }

  .navbar-list,
  .nav-action-list,
  .nav-container .logo {
    display: inline-flex;
  }

  .nav-action-list li .nav-action-text,
  .nav-action-list li data {
    display: none;
  }

  .nav-action-list li {
    list-style-type: none;
  }

  .navbar-item {
    list-style-type: none;
  }

  .navbar-links {
    color: var(--color9) !important;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  .navbar-links:is(:hover, :focus) {
    color: var(--color6) !important;
  }

  .navbar-list .drop-menu {
    position: absolute;
    background: var(--color1);
    width: 200px;
    line-height: 45px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    white-space: nowrap;
    z-index: 1;
  }


  .nav-action-list .drop-menu {
    position: absolute;
    background: var(--color1);
    width: 180px;
    line-height: 45px;
    top: 85px;
    left: -10px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    white-space: nowrap;
    z-index: 1;
  }

  .nav-action-list .drop-menu li {
    position: relative;
    right: 35px;
  }

  .nav-action-list .drop-menu li i {
    margin-right: 10px;
  }

  .navbar-list li:hover .drop-menu,
  .navbar-list li:hover .mega-box {
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
  }

  .nav-action-list li:hover .drop-menu {
    transition: all 0.3s ease;
    top: 40px;
    opacity: 1;
    visibility: visible;
  }

  .navbar-list .drop-menu li,
  .nav-action-list .drop-menu li {
    list-style: none;
  }

  .navbar-list .drop-menu li a,
  .nav-action-list .drop-menu li a {
    width: 100%;
    display: inline-block;
    padding: 0 0 0 15px;
    font-size: 16px;
    font-weight: 400;
    color: var(--color9);
    border-radius: 0px;
    text-decoration: none;
  }

  .drop-menu li a:hover {
    color: var(--color6);
  }

  .navbar-item {
    position: relative;
  }

  .dropdown-toggle {
    display: none;
  }

  .mega-box {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 85px;
    opacity: 1;
    visibility: hidden;
  }

  .mega-box .content {
    background: var(--color1);
    padding: 25px 20px;
    display: flex;
    width: 800px;
    justify-content: space-between;
    align-items: start;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);

  }

  .mega-box .content .row {
    width: calc(25% - 30px);
    line-height: 45px;
  }

  .content .row header {
    color: var(--color9);
    font-size: 20px;
    font-weight: 500;
  }

  .content .row .mega-links {
    margin-left: -40px;
    border-left: 1px solid rgba(108, 117, 125, 0.1);
  }

  .row .mega-links li {
    list-style-type: none;
    padding: 0 20px;
  }

  .row .mega-links li a {
    padding: 0 20px;
    color: var(--color9);
    font-size: 17px;
    display: block;
    text-decoration: none;
  }

  .row .mega-links li a:hover {
    color: var(--color6);
  }

  .nav-action-btn {
    color: var(--color9);
    display: flex;
    align-items: center t;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding-block: 10px;
    transition: var(--transition-1);
    text-decoration: none;
    font-size: 16px;
    border: none;
    position: relative;
  }

  /* ======================= */
  /* SEARCH STYLES           */
  /* ======================= */
  /* #searchOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    color: var(--color9);
  }

  .searchContent {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--color9);
    width: 350px;
    height: 185px;
  }

  #searchInput {
    color: var(--color1);
  }

  #closeButton {
    align-self: flex-end;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 20px;
    color: var(--color1);
  }

  .res-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: var(--color1);
    padding-block: 10px;
  }

  .res-btn:hover {
    border: 2px solid var(--color1);
    border-radius: 5px;
    cursor: pointer;
  } */


  .icon-badge-btn {
    position: absolute;
    top: -5px;
    right: -2px;
    width: 20px;
    height: 20px;
    font-size: 15px;
    color: var(--color2);
    background-color: rgb(62, 119, 206);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translateY(0);
  }

  .nav-action-btn:hover .icon-badge-btn {
    transform: translateY(-3px);
  }

  .nav-action-list li button {
    display: flex;
    background-color: var(--color2);
    cursor: pointer;
  }

  .nav-action-btn {
    font-size: 18px;
    padding: 10px 20px;

  }

  .nav-action-btn:is(:hover, :focus) {
    color: var(--color6);

  }

  .nav-action-btn i {
    font-size: 20px;
  }

  .side-profile a.desk,
  .side-profile label {
    display: none;
  }

  .side-profile i.desk {
    color: var(--color9);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    transition: var(--transition-1);
    text-decoration: none;
    font-size: 18px;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    position: relative;
    top: 1px;
  }

  .side-profile i.desk:is(:hover, :focus) {
    color: var(--color6);
  }

  /* ======================= */
  /* problem Section Styling */
  /* ======================= */
  .Grid-problem-Container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }

  .Grid-problem-Container .trans-ground {
    background: transparent;
    height: 500px;
    align-self: center;
  }

  .Grid-problem-Container .grid-item {
    width: 100%;
  }

  .Grid-problem-Container .grid-item p {
    text-align: start;

  }

  .grid-item .fa-solid.fa-gears {
    font-size: 20rem;
    /* float: left; */
  }



  /* ======================= */
  /* Benefit Section Styling */
  /* ======================= */

  .Benefit-container {
    width: 1500px;
    margin: 40px;
    padding: 20px;
    background-color: rgba(52, 58, 64, 0.1);
    border-radius: 20px;
  }

  .Benefit-container .Benefit {
    color: var(--color9);
    font-size: 48px;
    font-weight: bold;
    text-align: center;
  }

  .Benefit-container .artisans {
    color: var(--color9);
    font-size: 32px;
    font-weight: bold;
    text-align: center;
  }

  .Benefit-container p {
    color: var(--color9);
    font-size: 16px;
  }

  .Grid-Container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .grid-item {
    width: 450px;
    height: 100%;
    text-align: center;
    place-self: center;
    background-color: var(--color1);
    border-radius: 12px;
    padding: 10px;
  }

  .grid-item i {
    font-size: 48px;
    margin-top: 30px;
    color: var(--color9);
  }

  .grid-item h3 {
    font-size: 24px;
    font-weight: 700;
    color: var(--color9);
    white-space: nowrap;
  }

  .grid-item p {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
  }

  .Grid-Container .customers {
    grid-column: 1 / 4;
    grid-row: 2 / 2;
    place-self: center;
    color: var(--color9);
    font-size: 32px;
    font-weight: bold;
  }

  /* ======================= */
  /* carousel styling        */
  /* ======================= */

  .carousel {
    position: relative;
    height: 600px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  .carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carousel__track-container {
    /* background: lightgreen; */
    height: 100%;
    position: relative;
  }

  .carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform .75s ease-in;
  }

  .carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  .carousel__slide h1 {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%);
    font-size: 4rem;
    font-weight: 700;
    color: var(--color2);
  }

  .carousel__slide p {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: start;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color2);
  }

  .carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    color: var(--color2);
    font-size: 34px;
    cursor: pointer;
  }

  .caro-right {
    right: 30px;
  }

  .caro-left {
    z-index: 2;
    left: 30px;
  }

  .carousel__nav {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    position: relative;
    bottom: 20px;
  }

  .carousel__indicator {
    border: 0;
    border-radius: 12px;
    width: 90px;
    height: 4px;
    background: rgba(255, 255, 255, .4);
    margin: 0 3px;
    cursor: pointer;
  }

  .carousel__indicator.current-slide {
    background-color: var(--color1);
  }

  .is-hidden {
    display: none;
  }

  /* ======================= */
  /* product card styling    */
  /* ======================= */

  .product-container .headers {
    grid-column: 1/4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 65px;
    margin-top: 20px;
    text-decoration: none;
    color: var(--color9);
    font-size: 1.2rem;
    white-space: nowrap;
  }

  .product-container .headers p {
    width: 900px;
    margin-right: 60px;
    margin-top: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .product img {
    min-width: 350px;
    max-width: 350px;
    height: 240px;
    border-top-left-radius: 12px;
  }

  .product figure {
    margin: 0;
    line-height: 0;
  }

  main {
    max-width: 100%;
    margin: 20px auto auto;
  }

  .background-container {
    background-color: var(--color2);
    height: auto;
    width: 95%;
    border-radius: 12px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
  }

  .product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .product-container.col-12.col-md-10 {
    width: 86.5% !important;
  }

  .product-container.col-12.col-md-5 {
    width: 43.25% !important;
  }

  .banner {
    grid-column: 1/4;
    width: 100%;
    margin: 10px 70px;
    border-radius: 12px;
  }

  .banner img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease-in-out;
    border-radius: 12px;
  }

  .product-container .banner .image-container {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
  }

  .product-container .banner .image-container .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;

  }

  .product-container .banner .image-container:hover img {
    transform: scale(1.1);
  }

  .product-container .banner .image-container:hover .image-overlay {
    opacity: 1;

  }

  .image-container .image-text {
    background: transparent;
    font-style: italic;
    text-transform: uppercase;
    color: var(--color1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .product {
    background: var(--color2);
    max-width: 350px;
    position: relative;
    z-index: 15;
    margin: 10px 70px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
  }

  .product-description {
    position: relative;
    z-index: 15;
    background: var(--color2);
  }


  .info {
    padding: 15px;
    color: var(--color9);
    font-size: 0.85em;
    width: 75%;
    float: left;

  }


  .info h1 {
    font-size: 20px;
    margin: 0 0 5px;
  }

  .info p {
    margin-bottom: 15px;
    line-height: 1.3em;
  }

  .price {
    width: 25%;
    float: left;
    color: var(--color9);
    font-size: 2.3em;
    position: relative;
    margin-top: 25px;
  }

  .price::before {
    content: '£';
    position: absolute;
    top: 0;
    left: -10px;
    font-size: 0.35em;
  }

  .product-sidebar {
    height: 100%;
    background: var(--color2);
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: right 0.3s ease;
    border-radius: 0 2px 2px 0;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
  }


  .product-sidebar button {
    border: 0;
    color: var(--color2);
    padding: 0.9em;
    font-size: 0.8em;
    width: 50px;
    height: 50px;
    overflow: hidden;
    transition: all 0.4s ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;

  }



  .product-sidebar button.buy,
  .product-sidebar button.info,
  .product-sidebar button.rate,
  .product-sidebar button.colors,
  .product-sidebar button.Wishlist {
    background: transparent;

  }

  .product-sidebar button:hover {
    width: 130px;
    background-color: var(--color7);
    position: relative;
  }


  .product-sidebar button span {
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
    margin-left: 35px;
  }


  .product-sidebar button:hover span {
    opacity: 1;
    visibility: visible;
  }

  .product-sidebar button i {
    font-size: 24px;
    position: absolute;
  }

  .product-sidebar button:hover i {
    font-size: 24px;
    position: absolute;
    margin-right: 80px;
  }

  .product-sidebar button.colors:hover {
    width: 130px;
    height: 80px;
  }

  .product-sidebar button.colors span {
    margin-left: 40px;
    white-space: normal;
  }

  .product-sidebar button.colors .color {
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    opacity: 0.7;
    transition: all 0.3s ease;
  }

  .product-sidebar button.colors .color:hover {
    opacity: 1;
    transform: scale(1.1);
  }

  .color.black {
    background: #000;
    border-bottom: 2px solid #555;
  }

  .color.white {
    background: #fff;
    border-bottom: 2px solid #e5e5e5;
  }

  .color.red {
    background: #EA1535;
    border-bottom: 2px solid #EF566D;
  }

  .product:hover .product-sidebar {
    right: -50px;
    background-color: var(--color8);
    transition: all .5s ease-in-out;
  }

  /* carousel product card images*/

  .carousel.slide {
    height: auto !important;
  }

  .carousel-control-prev,
  .carousel-control-next {
    filter: invert(100%);

  }

  .carousel-indicators button {
    background-color: #fff;
  }

  /* ======================= */
  /* footer Section Styling  */
  /* ======================= */

  .newsletter h3 {
    font-family: "Noto Serif Display", serif;
    font-size: 2.3rem;
    font-weight: 300;
    text-align: center;
    width: 450px;
    line-height: 60px;
  }

  .layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .layout_item:not(:nth-child(1)) {
    justify-self: center;
  }

  .layout_item a {
    text-decoration: none;
    color: var(--color9);
    font-weight: 400;
    transition: 0.3s ease-in;
    border-bottom: 1px solid transparent;
    margin-bottom: 0.5rem;
    display: inline-flex;
  }

  .layout_item a:hover {
    border-bottom: 1px solid var(--color9);
    transition: 0.3s ease-in;
  }

  .layout_item ul {
    list-style-type: none;
    padding: 0;
  }

  .newsletter button {
    appearance: none;
    border: 0;
    background: transparent;
    cursor: pointer;
  }

  .newsletter button i {
    font-size: 22px;
  }

  .newsletter button i:hover {
    font-size: 20px;

  }

  .footer_inner {
    background: var(--color1);
    border: 0.1px solid rgba(233, 232, 232, 0.208);
    border-radius: 5px;
    padding: 2rem;
    margin: 1rem 0;
  }

  .footer {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    padding: 20px 0;
    background-color: var(--color2);
    clear: both;
  }

  .footer-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(100%, 400px);
    border-bottom: 1px solid var(--color9);
  }

  input {
    padding: 0.75rem 0;
    border: none;
    background: none;
    font-weight: 500;
    transition: border 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    border-radius: 0;
    width: 100%;
    font-size: 1.05rem;
    font-weight: bolder;
  }

  input:is(:hover, :focus) {
    outline: none;
  }

  input::placeholder {
    color: var(--dark);
  }

  .flex {
    display: flex;
    gap: 10px;
    justify-content: start;
  }

  .flex li i {
    font-size: 28px;
  }

  .layout_item.w-25 i {
    font-size: 28px;
  }

  .layout.c-2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .c-nav-tool_list {
    white-space: nowrap;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color2);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color8);
  }
}


/* =================================== */
/* MOBILE STYLING  */
/* =================================== */

@media (max-width: 900px) {

  .navbar-item .desk {
    display: none;
  }

  button .icon-badge-btn {
    display: none;
    visibility: hidden;
  }

  .header {
    background: var(--color2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: var(--transition-1);
    z-index: 4;
  }

  .header.active {
    box-shadow: 0 2px 10px hsla(0, 0%, 0%, 0.1);
  }

  .header .nav-container {
    display: flex;
    justify-content: space-between;
    max-width: 870px;
    align-items: center;
    padding-block: 20px;
  }

  .nav-container .logo {
    text-decoration: none;
    font-size: 34px;
    color: var(--color9);
    font-weight: bold;
    margin-left: 20px;
  }

  .nav-open-btn {
    font-size: 20px;
    background: var(--color8);
    color: var(--color1);
    border: none;
    padding: 8px;
  }

  .nav-open-btn:is(:hover, :focus) {
    background: var(--color7);
  }

  .nav-open-btn i {
    --i-stroke-width: 40px;
  }

  .navbar {
    background: var(--color1);
    position: fixed;
    top: 0;
    left: -280px;
    width: 100%;
    max-width: 280px;
    height: 100%;
    border-right: 3px solid var(--color4);
    font-family: 'comfortaa', sans-serif;
    overflow-y: auto;
    overscroll-behavior: contain;
    z-index: 2;
    visibility: hidden;
    transition: 0.25s var(--cubic-out);
  }

  .navbar.active {
    visibility: visible;
    transform: translateX(280px);
    transition: 0.5s var(--cubic-in);
  }

  .nav-close-btn {
    color: var(--color1);
    position: absolute;
    top: 0;
    right: 0;
    padding: 13px;
    font-size: 20px;
    transition: var(--transition-1);
    border: none;
    background-color: var(--color8);
  }

  .nav-close-btn i {
    --i-stroke-width: 55px;
  }

  .nav-close-btn:is(:hover, :focus) {
    color: var(--color5);
  }

  .navbar .nav-logo {
    background: var(--color8);
    padding-block: 50px 40px;
    color: var(--color1);
    display: block;
    text-align: center;
    font-size: 34px;
    text-decoration: none;
  }

  .navbar-list {
    margin: 25px;
  }

  .navbar-list {
    padding: 20px;
    border-bottom: 1px solid var(--color2);
  }

  .navbar-item {
    list-style-type: none;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
  }

  .navbar-links {
    color: var(--color9);
    padding-block: 10px;
    transition: var(--transition-1);
    text-decoration: none;

  }

  .side-profile a.desk,
  .side-profile i.desk {
    display: none;
  }

  .side-profile .navbar-links {
    color: var(--color9);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    gap: 10px;
    width: 100px;
    transition: var(--transition-1);
    padding-block: 10px;

  }

  .navbar-links:is(:hover, :focus) {
    color: var(--color6);
  }

  .nav-action-list>li:first-child {
    display: none;
  }

  .nav-action-list li {
    list-style-type: none;
  }

  .nav-action-btn {
    color: var(--color9);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding-block: 10px;
    transition: var(--transition-1);
    text-decoration: none;
    font-size: 16px;
    background-color: var(--color1);
    border: none;
  }

  .notify-btn {
    position: relative;
    right: 5px;
  }

  .nav-action-badge-notify {
    position: relative;
    left: 10px;
  }

  .nav-action-btn:is(:hover, :focus) {
    color: var(--color6);
  }

  .nav-action-btn i {
    font-size: 20px;
    /* --i-stroke-width: 25px; */
  }

  .side-profile i.fa-user {
    font-size: 20px;
  }

  .side-profile .profile li i.fa-solid {
    font-size: 16px;
    margin-right: 10px;
  }

  .side-profile .profile {
    width: 220px;
  }

  .nav-action-text strong {
    font-weight: bold;
    color: var(--color9);
  }

  .nav-action-badge {
    margin-left: auto;
    font-size: 12px;
    background: var(--color8);
    color: var(--color2);
    width: 25px;
    height: 25px;
    display: grid;
    place-items: center;
    border-radius: 50%;
  }

  .nav-action-badge-notify {
    margin-left: auto;
    font-size: 12px;
    background: var(--color8);
    color: var(--color2);
    width: 25px;
    height: 25px;
    display: grid;
    place-items: center;
    border-radius: 50%;
  }

  .overlay {
    position: fixed;
    inset: 0;
    background: hsla(0, 0%, 0%, 0.6);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: var(--transition-1);
  }


  .overlay.active {
    opacity: 1;
    pointer-events: all;
  }

  .drop-menu,
  .mega-box {
    display: none;
    background-color: var(--color1);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    width: 200px;
    left: 0;
  }

  .fa-caret-down {
    transition: transform 0.4s ease-in-out;
    transform: rotate(270deg);
    display: inline-block;
  }

  .drop-menu li {
    display: block;
  }

  .drop-menu li a {
    color: var(--color9);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color .3s ease;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
  }

  .drop-menu li a:hover {
    color: var(--color6);
  }

  /* Show the dropdown menu when the checkbox is checked */
  .dropdown-toggle:checked+.navbar-links+.mega-box,
  .dropdown-toggle:checked+.navbar-links+.drop-menu,
  .dropdown-toggle:checked+.navbar-links+.profile {
    display: block;
  }

  #showArtists:checked+label .fa-caret-down,
  #showMega:checked+label .fa-caret-down,
  #showProfile:checked+label .fa-caret-down {
    transform: rotate(360deg);
    /* Rotate to 360 degrees */
  }

  /* Extra styling to enhance accessibility and visual interaction */
  .navbar-item {
    position: relative;
  }

  .dropdown-toggle {
    display: none;
    /* Hide the checkbox visually but keep it in the flow for functionality */
  }

  .mega-box .content {
    padding: 20px;
    display: block;

  }

  .mega-box .row {
    display: block;
  }

  .mega-box header {
    font-size: 20px;
    color: var(--color9);
    padding-bottom: 10px;
  }

  .mega-links li {
    list-style-type: none;
  }

  .mega-links li a {
    color: var(--color9);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: color 0.3s ease;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
  }

  .mega-links li a:hover {
    color: var(--color6);
  }

  #showMega:checked~.mobile-item .fa-caret-down {
    transform: rotate(360deg);
  }

  /* Styling for the mega menu to ensure it aligns with site design */
  .navbar-item {
    position: relative;
  }

  .dropdown-toggle {
    display: none;
    /* Hide the checkbox visually but keep it functional */
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color2);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color8);
  }

  .Benefit-container {
    width: 100%;
    margin: 40px auto;
    padding: 20px;
    background-color: rgba(52, 58, 64, 0.1);
    border-radius: 20px;
  }

  .Benefit-container .Benefit {
    color: var(--color9);
    font-size: 48px;
    font-weight: bold;
    text-align: center;
  }

  .Benefit-container .artisans {
    color: var(--color9);
    font-size: 32px;
    font-weight: bold;
    text-align: center;
  }

  .Benefit-container p {
    color: var(--color9);
    font-size: 16px;
  }

  .Grid-Container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .grid-item {
    width: 450px;
    height: auto;
    place-self: center;
    text-align: center;
    background-color: var(--color1);
    border-radius: 12px;
    padding: 10px;
  }

  .grid-item i {
    font-size: 48px;
    margin-top: 30px;
    color: var(--color9);
  }

  .grid-item h3 {
    font-size: 24px;
    font-weight: 700;
    color: var(--color9);
    white-space: nowrap;
  }

  .grid-item p {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
  }

  .Grid-Container .customers {
    grid-column: 1 / 1;
    place-self: center;
    color: var(--color9);
    font-size: 32px;
    font-weight: bold;
  }

  .newsletter h3 {
    font-family: "Noto Serif Display", serif;
    font-size: 2.3rem;
    font-weight: 300;
    text-align: center;
    width: 450px;
    line-height: 60px;
  }

  .layout {
    display: grid;
    grid-template-columns: 1fr;
  }

  .layout_item:not(:nth-child(1)) {
    justify-self: start;
  }

  .layout_item a {
    text-decoration: none;
    color: var(--color9);
    font-weight: 400;
    transition: 0.3s ease-in;
    border-bottom: 1px solid transparent;
    margin-bottom: 0.5rem;
    display: inline-flex;
  }

  .layout_item a:hover {
    border-bottom: 1px solid var(--color9);
    transition: 0.3s ease-in;
  }

  .layout_item ul {
    list-style-type: none;
    padding: 0;
  }

  .newsletter button {
    appearance: none;
    border: 0;
    background: transparent;
    cursor: pointer;
  }

  .newsletter button i {
    font-size: 22px;
  }

  .newsletter button i:hover {
    font-size: 20px;

  }

  .footer_inner {
    background: var(--color1);
    backdrop-filter: blur(50px);
    border: 0.1px solid rgba(233, 232, 232, 0.208);
    border-radius: 5px;
    padding: 2rem;
    margin: 1rem 0;
  }

  .footer {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--color2);
  }

  .footer-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(100%, 400px);
    border-bottom: 1px solid var(--color9);
  }

  input {
    padding: 0.75rem 0;
    border: none;
    background: none;
    font-weight: 500;
    transition: border 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    border-radius: 0;
    width: 100%;
    font-size: 1.05rem;
    font-weight: bolder;
  }

  input:is(:hover, :focus) {
    outline: none;
  }

  input::placeholder {
    color: var(--dark);
  }

  .flex {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }

  .flex li i {
    font-size: 28px;
  }

  .layout_item.w-25 i {
    font-size: 28px;
  }

  .layout.c-2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }



}